.banner
{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 50px;
}

.btn
{
  margin-top: 20px;
}

.btn-1
{
  margin-left:450px;
}

.btn-2
{
  margin-left:85px;
}

.btn-3
{
  margin-left:85px;
}

.btn-primary
{
  background-image: linear-gradient(to bottom, #D30E00 0, #CE0D00 100%) !important;
  background-color: #D30E00 !important;
  border-color: #CE0D00 !important;
  border-radius: 5px !important;
}

.btn-primary:hover
{
  border-color: #D30E00 !important;
}

.btn:focus
{
  outline: none !important;
}

a:focus, a:hover {
  color: white !important;
}

a {
  color: white;
}
